/*

*/
@media screen and (max-width: 700px) {
    body {
        background-color: lightblue;
    }
}

body{
    margin: 20px 40px 80px 5px;
}
.container{
    width: 700px;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #FFf;
    /*border: 2px solid #999999;
    border-style: double;
    */
}
#inscricoes{
    width: 1000px;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #FFf;
    /*border: 2px solid #999999;
    border-style: double;
    */
}
.cabecalho{
    font-size: 18px;
}
input{
    text-transform: uppercase;
}
select{
    text-transform: uppercase;
}